# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-minor", "version-update:semver-patch"]
      - dependency-name: "Microsoft.*"
        versions: ["9.x", "10.x"]
      - dependency-name: "System.*"
        versions: ["9.x", "10.x"]
    groups:
      microsoft-dotnet-update:
        patterns: ["Microsoft.*", "System.*"]
        update-types: ["major"]